<h1>New request equipmet</h1>

<%= render "form", request_equipmet: @request_equipmet %>

<br>

<div>
  <%= link_to "Back to request equipmets", request_equipmets_path, class:"btn btn-secondary" %>
</div>
