<h1>Editing faculty</h1>

<%= render "form", faculty: @faculty %>

<br>

<div>
  <%= link_to "Show this faculty", @faculty, class:"btn btn-secondary" %> |
  <%= link_to "Back to faculties", faculties_path, class:"btn btn-secondary" %>
</div>
