<h1>Editing equipment</h1>

<%= render "form", equipment: @equipment %>

<br>

<div>
  <%= link_to "Show this equipment", @equipment, class:"btn btn-secondary" %> |
  <%= link_to "Back to equipment", equipment_index_path, class:"btn btn-secondary" %>
</div>
