

<img height="400px" width="1111px" 
 src="https://usscmc.com/wp-content/uploads/2020/06/Inventory-Management.jpg"></br>
 <center id="b">ABOUT US</center>
 <div class="bg">
 <h3>INTRODUCTION</h3>

 <p style="color:darkTurquoise;">This project aims to facilitate departments on tracking the use of equipment and
components for projects and promote maximum utilisation of available resources</p>

<h4>PURPOSE</h4>

<p style="color:darkTurquoise;">The project aims to achieve the following:
<li style="color:darkTurquoise;"> Provide a central source for tracking and keeping record of equipment and resources.</li>
<li style="color:darkTurquoise;">Keep track of utilization of each resource to ensure optimal utilization of equipment</li>
<li style="color:darkTurquoise;">Ease the process of searching and keeping track of which equipment is taken by who,
where the equipment are, when will the taken equipment be returned, etc</li>.</p>
</div>
<img height="180px" width="180px" style="margin-left:17%;"
 src="https://media.istockphoto.com/vectors/sitting-business-man-using-his-tablet-computer-vector-id635805270?k=6&m=635805270&s=612x612&w=0&h=6_JGMnl451bTj1hU2vo9j7DmKBNiYa20Uly3Sn7ufdk=">
 <img height="80px" width="100px" style="margin-left:12%;"
 src="https://it.ucmerced.edu/sites/it.ucmerced.edu/files/wp-content/pmofauxbuttons_submitrequest.png">
 <img height="180px" width="200px" style="margin-left:14%;"
 src="https://th.bing.com/th/id/R.6c6e38295c0f3fb50791b2415d1f49dc?rik=rMMCIVTeBqWn6A&riu=http%3a%2f%2fclipart-library.com%2fimg%2f2047707.png&ehk=paLyUoTQ9orQTh4QIdl9gBVIQpA1A8mM76RMnuAoYUo%3d&risl=&pid=ImgRaw&r=0"></br>
 <h3 style="margin-left:20%;"><%= link_to "FACULTY", faculties_path %>
 <h3 style="margin-left:74%;"><%= link_to "ADMIN", new_user_session_path %></h3>
<div class="se">
<div class="threee">
<center>NEWS & EVENTS</center></br>
<ul>
<li>Azadi ka Amrit Mahotsav</li>
<li>NITC in the Media</li>
<li>Convocation 2022</li>
<li>Foundation Day 2022</li>
<li>World NITCAA Meet</li>
<li>Onam-2022</li>
<li>Events</li>
<li>NITC Information Brochure</li>
<li>Newsletter</li>
<br><br>
</ul>

</div>
<div class="fr">
<img  height="220px" width="227px" style="margin-left:9%"src="https://th.bing.com/th/id/R.2036b0839dc3aefe720faad9b38b711b?rik=QdGy2Lfhao%2fdsA&riu=http%3a%2f%2fcollegepravesh.com%2fcpdata%2fuploads%2f2013%2f06%2fNIT-CALICUT-LOGO.png&ehk=auqfBTHMEwZrHe4uZuCDOealj%2bMS9gEfEZ3tKxKY3PM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1">
</div>
<div class="fiv">
	<center>RANKINGS</center>
    </br>
<ul>
<li>ARIIA-2021</li>
<li>All India 9th, First among NITs</li>
<li>Certificate</li>
<li>NIRF 2022</li>
<li>Architecture : All India 2nd</li>
<li>Engineering : All India 31s</li>
</ul>
</div>
</div>

<div class="l">
<marquee><h4>.....FUNDED PROJECT COMPONENTS MOVEMENT & STOCK REGISTER WITHIN A DEPARTMENT....</h4></marquee>
<br>
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="last">
<a href="home/landing" class="material-icons" style="font-size:24px;color:navy;">facebook</a>
<a href="home/landing" class="material-icons"style="font-size:24px;color:black;">share</a>
<a href="home/index" class="material-icons"style="font-size:24px;color:#1A6093;">mail</a>
<a href="home/contact" class="material-icons"style="font-size:24px;color:black;">call</a>
<a href="home/contact" class="material-icons"style="font-size:24px;color:black;">verified</a>

</div>
</div>


<p>© Copyright 2017 National Institute of Technology Calicut. All Rights Reserved.</p>
<p>Privacy Policy and Terms & Conditions
</p>
