
<div class='back'>
<form method ="post" action="home/about" enctype="multipart/form-data">
<center>
<div class="three">
<h3 id="c">GET IN TOUCH</h3>
<h4>Prof. Prasad Krishna</h4>
National Institute of Technology Calicut,</br>
NIT Campus P.O 673 601,</br>
Kozhikode, India</br>
<li>EQUIPMENT INVENTORY MANAGEMENT</li>
<li>Phone: +91-495-2286102</li>
<li>Email: director@nitc.ac.in</li>
<li> admin@gmail.com</li>


</div>
</form>
</center>
</div>
