<div class="container mh-100">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="display-4 fw-bold">Welcome To</h1>
      <h1 class="text-muted">
      <span class="badge badge-secondary">Equipment Management System</span>
      </h1>
    </div>
    <div class="col">
      <div class="bg-gray-500"> <%= image_tag "lab.jpg", class: "img-fluid" %> </div>
    </div>
  </div>
</div>
<br><br>
<div class="myDiv">
<div class="container mt-5"> 
      <div class="row">
        
        <div class="col-sm-8">
          
          <h3>This Project Is All About</h3>
          <h5 class="p-2 mb-2 bg-light text-dark">Maximize The Utilization of The Available Funded Equipments</h5>
          <p>
          <ul>
          <li class="text-primary">Everyone is able to see all equipments which are available in the department.</li>
          <li class="text-primary">Faculties who got Funded Project can request to the admin to add Equipment to the Database and give details of that Equipment via mail. </li>
          <li class="text-primary">Only Admin can add that equipment details to the database after login.</li>
          <li class="text-primary">Any faculties can request for equipments which are available at that moment to the admin and Admin finally approved that request and update the database. </li>
          </ul>
           
          </p>
        
        </div>
        <div class="col">
         <div class="bg-gray-500" > <%= image_tag "classroom.jpg", class: "img-fluid" %> </div>
      </div>
      </div>
      
</div>
</div>
<br><br><br><br>

<div class="contactus">
<div class="row align-items-left">

<div class="col">
      <h1 class="display-4 fw-bold">Contact Us</h1>
      <h6> <span class="text-muted">For any Enquiry you can send us a mail</span></h6>
      <h4>
      <span class="badge badge-info">admin@gmail.com</span>
      </h4>
</div>
<div class="col">
         <div class="bg-gray-500" > <%= image_tag "contactus.jpg", class: "img-fluid" %> </div>
</div> 
</div>
</div>
<br><br><br>